@model IEnumerable<InDaBox.Models.Localizacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    @foreach (Localizacion localizacion in Model)
    {
        <div class="col-md-3">
            <div class="card " @*style="width:300px; margin-bottom:10px" *@>

                <img class="card-img-top" style="border-radius:10px" src=@Url.Content(localizacion.Producto.Imagen)>

                <div class="card-body">
                    <h4 class="card-title">Nombre=@localizacion.Producto.Nombre</h4>
                    <h4 class="card-title">localizacion=@localizacion.Fila.Nombre </h4>

                </div>
                <div>

                    <a asp-action="Edit" asp-route-id="@localizacion.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@localizacion.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@localizacion.Id">Delete</a>
                </div>
            </div>
        </div>
    }


</div>


