@model IEnumerable<InDaBox.Models.Localizacion>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutProducto";
}
<link rel="stylesheet" href="~/css/menuLateral.css">

<div class="row">

    <aside class="container-menu col-3">
        <h1 class="btn-almacen">
            <a asp-controller="Almacenes" asp-action="Index">Almacenes</a>
        </h1>
        <h1>
            <a href="#" class="btn-busqueda">Busquedas frecuentes</a>
        </h1>
        <hr/>

        <ul class="menu">
            <ul class="guardados">
                <li><a href="#">Item 1 </a></li>
                <li><a href="#">Item 2 </a></li>
                <li><a href="#">Item 3 </a></li>
                <li><a href="#">Item 4 </a></li>
                <li><a href="#">Item 5 </a></li>
                <li><a href="#">Item 6 </a></li>
                <li><a href="#">Item 7 </a></li>
                <li><a href="#">Item 8 </a></li>
                <li><a href="#">Item 9 </a></li>
                <li><a href="#">Item 10 </a></li>
            </ul>
        </ul>
        <p class="createNew">
            <a asp-action="Create"><i class="icono izquierda fas fa-plus"></i>Añadir producto</a>
        </p>
    </aside>
    <div class="col">
        <div class="row">
            <div class="titulo">
                <h1>Productos</h1>
            </div>
        </div>
        <div class="row productosMuestra">
            @foreach (Localizacion localizacion in Model)
            {
                <div class="col-2">

                    <div class="card">

                        <img class="pic" src=@Url.Content(localizacion.Producto.Imagen)>

                        <div class="card-body">
                            <h4>Nombre: @localizacion.Producto.Nombre</h4>
                            <h4>localizacion=@localizacion.Fila.Nombre </h4>
                        </div>
                        <div class="fontEdit">
                            <a asp-action="Edit" asp-route-id="@localizacion.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@localizacion.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@localizacion.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>