@model InDaBox.Models.Localizacion

@{
    ViewData["Title"] = "Delete";
}

    <h3>Está seguro que quiere eliminar este elemento?</h3>
<div>
    <h4>Localizacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fila
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fila.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
