@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
    <link rel="stylesheet" href="~/css/Index.css">
<body>
    <section id="wrapper" class="skewed">
        <div class="layer bottom">
            <div class="content-wrap">
                <div class="content-body">
                    <a class="almacenes " asp-area="" asp-controller="Almacenes" asp-action="Index">Almacenes</a>
                </div>               
                <img src="~/img/Mesa de trabajo 5.svg" />
            </div>
        </div>

        <div class="layer top">
            <div class="content-wrap">
                <div class="content-body">
                    <a class="productos" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                </div>               
                <img src="~/img/Mesa de trabajo 3.svg" />
            </div>
        </div>

        <div class="handle"></div>
    </section>
    <script src="~/js/site.js"></script>
</body>












