
@{
    ViewData["Title"] = "MainMenu";
}


<div class="container-fluid mio">
    <div class="row bckpic ">

        <img class="img_cascos"src="~/img/cascos.png" />
        <div class="col-6 bkgc1 container pro">
            <h1 class="productos">Productos</h1>

        </div>
        <div class="col-6 bkgc2 container alm">
            <h1 class="almacenes">Almacenes</h1>

        </div>
    </div>
</div>


