@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="privacy">
    POLÍTICA DE COOKIES


    De conformidad con la normativa española que regula el uso de cookies en relación a la prestación de servicios de comunicaciones
    electrónicas, recogida en el Real Decreto-ley 13/2012 del 30 de marzo, le informamos sobre las cookies utilizadas en el sitio web
    de Telefónica, S.A. telefonica.com (en adelante, el “Sitio Web”) y el motivo de su uso. Asimismo, Telefónica, S.A. le informa de que
    al navegar en el Sitio Web usted está prestando su consentimiento para poder utilizarlas.

    ¿Qué son las cookies y para que se utilizan?
    Una cookie es un fichero que se descarga en su ordenador, tablet, smartphone o cualquier otro dispositivo al acceder a determinadas
    páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de
    navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden
    utilizarse para reconocer al usuario. En ningún caso las cookies podrían dañar su equipo. Por contra, el que estén activas nos ayuda a
    identificar y resolver los posibles errores.

    Identificación de cookies
    A continuación, se realiza una clasificación de las cookies en función de una serie de categorías. No obstante, es necesario tener en
    cuenta que una misma cookie puede estar incluida en más de una categoría.

    Tipos de cookies según la entidad que las gestiona:

    Según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan,
    podemos distinguir:

    Cookies propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y
    desde el que se presta el servicio solicitado por el usuario.
    Cookies de terceros: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el
    editor, sino por otra entidad que trata los datos obtenidos través de las cookies.
    En el caso de que las cookies sean instaladas desde un equipo o dominio gestionado por el propio editor, pero la información que se
    recoja mediante éstas sea gestionada por un tercero, no pueden ser consideradas como cookies propias.

    Tipos de cookies según el plazo de tiempo que permanecen activadas:

    Según el plazo de tiempo que permanecen activadas en el equipo terminal podemos distinguir:

    Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.
    Se suelen emplear para almacenar información que solo interesa conservar para la prestación del servicio solicitado por el usuario en
    una sola ocasión (p.e. una lista de productos adquiridos).
    Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados
    durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.


    Tipos de cookies según su finalidad:

    Según la finalidad para la que se traten los datos obtenidos a través de las cookies, podemos distinguir entre:

    Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la
    utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de
    datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el
    proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad
    durante la navegación, almacenar contenidos para la difusión de vídeos o sonido o compartir contenidos a través de redes sociales.
    Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general
    predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a
    través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
    Cookies de análisis: Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los
    usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición
    de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos
    sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios
    del servicio.
    Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su
    caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios
    como el contenido editado o la frecuencia en la que se muestran los anuncios.
    Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitario
    s que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas
    cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de
    navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.
    Las cookies utilizadas en nuestro Sitio Web son propias y de terceros y nos permiten almacenar y acceder a información relativa al
    idioma, el tipo de navegador utilizado y a otras características generales predefinidas por el usuario, así como seguir y analizar la
    actividad que lleva a cabo, con el objeto de introducir mejoras y prestar nuestros servicios de una manera más eficiente y personalizada
    . Telefónica, S.A. no utiliza cookies publicitarias o de publicidad comportamental.

    La utilización de las cookies ofrece numerosas ventajas en la prestación de servicios de la Sociedad de la Información, puesto que,
    entre otras: (i) facilita al usuario la navegación en el Sitio Web y el acceso a los diferentes servicios que ofrece; (ii) evita al
    usuario configurar las características generales predefinidas cada vez que accede al Sitio Web; (iii) favorece la mejora del
    funcionamiento y de los servicios prestados a través del Sitio Web, tras el correspondiente análisis de la información obtenida a través
    de las cookies instaladas.

    En Telefónica S.A no recopilamos ni guardamos su información personal (por ejemplo, su nombre o dirección) por lo que esta información
    no puede ser utilizada para identificarle.

    No obstante, puede configurar su navegador, aceptando o rechazando todas las cookies, o bien seleccionar aquellas cuya instalación
    admite y cuáles no, siguiendo uno de los siguientes procedimientos, dependiendo del navegador utilizado:


    Telefónica, S.A. utiliza en su Sitio Web:
    Cookies de sesión:

    Las cookies de sesión son memorizadas y únicamente tienen validez temporal, es decir, hasta que el usuario finaliza la navegación
    por la página web. Estas cookies no graban de forma permanente ninguna información en el disco duro de su ordenador.


    Esta es una tabla de información de Cookies
    cookie	Titular	Duración	Finalidad	Nivel
    cc_cookie_accept	telefonica.com	1 año	Esta cookie técnica nos permite conocer si ya se le ha mostrado el aviso de política
    de cookies de nuestro Sitio Web para no mostrarlo de nuevo.	nivel 1
    COOKIE_SUPPORT	telefonica.com	Persistente	Facilitar la navegación por la página web así como almacenar las preferencias seleccionadas
    por el usuario durante su navegación por el portal web.	nivel 1
    GUEST_LANGUAGE_ID	telefonica.com	Persistente	Facilitar la navegación por la página web así como almacenar las preferencias
    seleccionadas (p,ej. el idioma de navegación) por el usuario durante su navegación por el portal web.	nivel 1


    Cookies de análisis:

    En concreto, Telefónica S.A. almacena en el terminal del usuario las cookies "analíticas" de Google Analytics. El usuario podrá excluir
    su actividad individual mediante los sistemas de exclusión facilitado por Google Analytics Abrir en ventana nueva.

    Más información: Google Analytics Cookie Usage on Websites Abrir en ventana nueva.



    Esta es una tabla de información de Cookies
    cookie	Titular	Duración	Finalidad	Nivel
    _ga	Google	2 años o actualización	Cookie fijada por analytics.js; librería JavaScript propiedad de Google. La librería analytics.js
    forma parte de Google Universal Analytics y utiliza esta cookie de origen que contiene un identificador anónimo usado para distinguir
    usuarios.	nivel 2
    _gid	Google	24 horas	Se usa para distinguir a los usuarios.	level 2
    _gat	Google	1 minuto	Se usa para limitar el porcentaje de solicitudes. Si has implementado Google Analytics mediante Google
    Tag Manager, esta cookie se llamará _dc_gtm_<property-id>
        .	nivel 2


        Cookies usadas por complementos de proveedores externos de contenido:

        Las cookies utilizadas por complementos de proveedores externos de contenido son necesarias para que el usuario pueda acceder
        a contenidos o servicios proporcionados por terceros proveedores, como por ejemplo, para ver vídeos alojados en Youtube, o para
        visualizar ubicaciones geográficas en Google Maps. Se rigen por lo dispuesto en sus respectivas políticas de cookies.



        Cookies de complementos de Google

        Telefónica S.A. hace uso de complementos externos de Google. Su uso implica la remisión de cookies.

        Para más información consulte: Cómo utiliza Google las cookies Abrir en ventana nueva

        La información que recogen los complementos externos de Google en nuestro Sitio Web, incluyendo la dirección IP del usuario,
        puede ser transmitida a Google y almacenada en sus servidores. Esta información es gestionada enteramente por Google. Estas cookies
        no identifican al usuario personalmente a menos que tenga activa una sesión en Google, quedando en ese caso vinculado con dicha cuenta
        de Google.

        Para más información consulte: Tipos de cookies que utiliza Google Abrir en ventana nueva

        Telefónica S.A. hace uso del complemento Google Maps para visualizar ubicaciones geográficas (nuestras oficinas u otras localizacion
        es).

        En algunas partes de la web Telefónica S.A. se muestran vídeos incrustados de Youtube. Las cookies implementadas por Google en
        cualquier página que incluya un vídeo de Youtube se usan para medir el número y el comportamiento de los usuarios de YouTube,
        incluyendo la información que vincula la visita a nuestro Sitio Web con su cuenta de Google en el caso de tener activa una sesión.

        Para más información consulte la Política de Privacidad de Google: Política de privacidad Abrir en ventana nueva



        Esta es una tabla de información de Cookies
        cookie	Titular	Duración	Finalidad
        Nivel1
        PREF	Google	2 años	Al crear o iniciar sesión en una cuenta de Google se almacenan las cookies PREF, NID, HSID, APISID, SID,
        SSID, SAPISID, GAPS, LSID, BEAT, ULS, en su ordenador con el fin de permanecer conectado a su cuenta de Google al visitar sus servicios
        de nuevo. Mientras permanezca con esta sesión activa y use complementos en otros sitios Web como el nuestro, Google hará uso de estas
        cookies para mejorar su experiencia de uso.

        El botón Google +1 utilizado en nuestro Sitio Web está alojado en Google, su navegador envía información de las cookies que Google
        requiere si mantiene la sesión activa con su cuenta, estos datos son utilizados por Google con el fin de asociarlos a su cuenta.

        En nuestro Sitio Web usamos Google Maps para visualizar ubicaciones geográficas. Su uso implica la remisión de las cookies; PREF,
        NID, SNID, khcookie, además de las cookies que Google requiere si mantiene la sesión activa con su cuenta, gestionada enteramente por
        Google.

        En algunas páginas de nuestro Sitio Web tenemos vídeos incrustados de Youtube, es un servicio de Google. Su uso implica la remisión
        de las cookies; PREF, NID, LOGIN_INFO, ACTIVITY, dkv, USE_HITBOX, demographics, VISITOR_INFO1_LIVE, YSC, además de las cookies que
        Google requiere si mantiene la sesión activa con su cuenta, con el propósito de visualizar los vídeos incrustados, estimar el ancho de
        banda y mostrar cuantas veces se ha reproducido.

        nivel 2
        NID	Google	6 meses	nivel 2
        SNID	Google	6 meses	nivel 2
        GAPS	Google	expira con la sesión	nivel 2
        LSID	Google	2 años	nivel 2
        BEAT	Google	24 horas	nivel 2
        YSC	Google	expira con la sesión	nivel 2
        Khcookie	Google	expira con la sesión	nivel 2
        demographics	Google	18 meses	nivel 2
        dkv	Google	60 días	nivel 2
        APISID	Google	2 años	nivel 2
        HSID	Google	2 años	nivel 2
        SID	Google	2 años	nivel 2
        SAPISID	Google	2 años	nivel 2
        SSID	Google	2 años	nivel 2
        LOGIN_INFO	Google	2 años	nivel 2
        ACTIVITY	Google	expira con la sesión	nivel 2
        USE_HITBOX	Google	expira con la sesión	nivel 2
        VISITOR_INFO1_LIVE	Google	8 meses	nivel 2


        Cookies de complementos de Vimeo

        En algunas páginas de nuestro Sitio Web tenemos vídeos incrustados de Vimeo. Este servicio utiliza para el seguimiento de su uso
        Google Analytics, y para ello se usan las mismas cookies descritas en la sección de "Cookies de análisis": “__utma”, “__utmb”, “__utmc”
        y“__utmz”.

        Para más información consulte en: Vimeo Cookie Policy Abrir en ventana nueva.



        Cookies de complementos de Euroland

        En algunas páginas de nuestro Sitio Web tenemos contenidos incrustados de Euroland. Este servicio utiliza para el seguimiento de
        su uso Google Analytics, y para ello se usan las mismas cookies descritas en la sección de "Cookies de análisis": “__utma”, “__utmb”,“__utmc”, “__utmt” y“__utmz”.

        Para más información consulte en: Euroland Cookie Policy Abrir en ventana nueva.



        Cookies de complementos de Genially

        En algunas páginas de nuestro Sitio Web tenemos contenidos incrustados de Genially. Este servicio utiliza para el seguimiento de
        su uso Google Analytics, y para ello se usan las mismas cookies descritas en la sección de "Cookies de análisis": “__ga”, “__gid”.

        Para más información consulte en: Genially Cookie Policy Abrir en ventana nueva.



        Niveles de intromisión asociados a las cookies que usamos
        Las cookies arriba expuestas incorporan un criterio de "nivel de intrusión" apoyado en una escala del 1 al 3, en la que:

        Nivel 1: Se corresponde con cookies de uso interno imprescindibles para la prestación del propio servicio solicitado por el usuario.
        Nivel 2: Se corresponde con cookies anónimas de uso interno necesarias para el mantenimiento de contenidos y navegación, así como a cookies
        gestionadas por terceros en el marco de servicios solicitados expresamente por el usuario en las webs de aquellos (ej.: Complementos
        Sociales de Facebook Twitter o Linkedin, vídeos incrustados, mapas).
        Nivel 3: Se corresponde con cookies gestionadas por terceros en el marco de servicios no solicitados expresamente por el usuario,
        permitiendo su seguimiento a través de webs de las que Telefónica S.A. no es titular (ej.: plataformas de gestión de publicidad gráfica).
        La especificación de este nivel viene acompañada de su titular. El uso de cookies de nivel 3 está sujeto al permiso previo del usuario
        mediante confirmación expresa de su aceptación.

        olucionen los servicios del sitio web ofrecidos en el mismo. Sin embargo, ocasionalmente durante esta actualización puede ser que la lista
        no incluya ya una cookie, aunque siempre se referirá a cookies con propósitos idénticos a los registrados en estas listas..

        Revisión
        Estas listas se actualizarán con la mayor celeridad posible a medida de que cambien
</p>