<div class="buscador offset-6 col-3">
    <form asp-controller="Productos" asp-action="Index" method="post">
        <div class="col-10 m-auto">
            <div class="input-group ">
                <input type="text" class="form-control buscador-estilo" name="busqueda">
                <span class="input-group-btn">
                    <button class="btn lupa btn-default" type="submit"><img src="~/img/search (1).svg" /></button>
                </span>
            </div>
        </div>
    </form>
</div>